$colors: (
    primary: #08A6E4,
    secondary: #FB3B64,
    success: #55DFB4,
    grey: #707070,
    grey-second: #95989A,
    grey-third: #A5A5A5
);

.border-primary {
    border-color: map-get($colors, primary) !important;
  }
  
  .border-secondary {
    border-color: map-get($colors, secondary) !important;
  }
  
  .border-tertiary {
    border-color: map-get($colors, success) !important;
  }
  
  .bg-primary {
    background-color: map-get($colors, primary) !important;
  }
  
  .bg-secondary {
    background-color: map-get($colors, secondary) !important;
  }
  
  .bg-tertiary {
    background-color: map-get($colors, success) !important;
  }
