button.btn {
    border-radius: 40px;
    border: none;
    padding: 15px 50px;
    margin: 10px;
    box-shadow: 5px 10px 14px #07ace629;
    cursor: pointer;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
}